@charset "UTF8";
        body{
            background-color: cadetblue;
            font-family: Arial;
            font-size: 15px;
        }
        h1{
            color: blue;
        }
        h2{
            color: brown;
        }
        p{
            text-align: justify;
        }
